// Call To Action Section
section.section.call-to-action
	.section__bg--img-container.section__gradient-radial.section__gradient-radial--white
		img.section__bg--img(src="./images/patterns/pattern.jpg")
	.container.px-5
		.row
			.col-12
				.brochure.brochure__bg--transparent
					.row
						.col-12.col-lg-6.col-xl-8
							.brochure__content
								h2.brochure__title.wow.fadeInUp(data-wow-duration="1.2s", data-wow-delay="0.2s") let's discuss more
						.col-12.col-sm-8.offset-sm-2.col-lg-6.offset-lg-0.col-xl-4
							.brochure__buttons
								a.brochure__button.brochure__button--lg.wow.fadeInUp(href="contact-us.html", data-wow-duration="1s", data-wow-delay="0.6s") contact us
// Call To Action Section End/.
