section.section.error
	.section__bg--img-container.section__gradient-linear.section__gradient-linear--primary
			img.section__bg--img(src="./images/patterns/pattern.jpg", data-paroller-direction="vertical", data-paroller-factor="-0.4", data-paroller-type="foreground")
	.container
		.row
			.col-12
				h3.error__status-code 404
				h2.error__message Page not Found
				a.error__redirect-link(href="index.html", title="back to homepage") back to homepage
