footer.footer
	section.footer__top
		.container-fluid
			.row
				.col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
					.footer__top--content
						.row
							.col-12.mb-4
								h6.footer__title Our Newsletter
							.col-12.mb-5
								form#footer-subscription-form(action="#", method="POST")
									.input-group
										input.form-control(type="text", placeholder="Email")
										.input-group-append
											.input-group-text
												button(type="submit", for="footer-subscription-form") subscribe
							.col-12
								ul.footer__list
									li.footer__list-item
										img(src="./images/icons-logos/10200.svg", alt="")
									li.footer__list-item
										img(src="./images/icons_logos/10201.svg", alt="")

	section.footer__bottom
		.container-fluid
			.row
				.col-12
					.footer__bottom--content.d-block
						.row
							.col-12.col-lg-8.d-flex.align-items-center
								p.text-xl-left.text-center
									span © 2020 - Shalakany LAW FIRM . ALL RIGHTS RESERVED. DESIGNED & DEVELOPED BY
									a(href="http://www.road9media.com") ROAD9 MEDIA
							.col-12.col-lg-4
								nav.footer__navbar
									ul.footer__list
										li.footer__list-item.inner-article__list-item--facebook
											a(href="http://www.facebook.com")
												i.fab.fa-facebook-f
										li.footer__list-item.inner-article__list-item--linkedin
											a(href="http://www.twitter.com")
												i.fab.fa-twitter
										li.footer__list-item.inner-article__list-item--twitter
											a(href="http://www.linkedin.com")
												i.fab.fa-linkedin-in
