header
	.side-open
	.menu-open(title="Open Menu")
		i.material-icons menu
	.overlay
		.menu-close(title="Close Menu")
			i.material-icons clear
		nav.overlay__nav
			ul.overlay__list
				li.overlay__list-item.overlay__list-item--active
					a(href="index.html") Home
				li.overlay__list-item
					a(href="#") about us
				li.overlay__list-item
					a(href="#") services & clients
				li.overlay__list-item
					a(href="#") our people
				li.overlay__list-item
					a(href="#") contact us
				li.overlay__list-item
					a(href="#") news & events
				li.overlay__list-item
					a(href="#") conferences & webinars
				li.overlay__list-item
					a(href="#") client portal
				li.overlay__list-item
					a(href="#") careers & trainings
