header
	.menu__underlay
	.menu__open-button
		i.material-icons menu
	.menu
		.menu__close-button
			i.material-icons clear
		nav.menu__nav
			ul.menu__list
				li.menu__list-item.menu__list-item--active
					a(href="index.html") Home
				li.menu__list-item
					a(href="#") about us
				li.menu__list-item
					a(href="#") services & clients
				li.menu__list-item
					a(href="#") our people
				li.menu__list-item
					a(href="#") contact us
				li.menu__list-item
					a(href="#") news & events
				li.menu__list-item
					a(href="#") conferences & webinars
				li.menu__list-item
					a(href="#") client portal
				li.menu__list-item
					a(href="#") careers & trainings
