.swiper-container
	.swiper-wrapper
		.swiper-slide
			.text-center.d-flex.flex-column.justify-content-center.align-items-center.bg-white(style="height: calc(100vh - 10vh);")
				h1.text-capitalize.display-2.font-weight-bold(data-swiper-parallax="-300")
					= `${locals.sitename[locals.lang]}`
				p.lead.text-muted.w-50(data-swiper-parallax="-100")
					| Use this document as a way to quickly start any new project.
		.swiper-slide
			.text-center.d-flex.flex-column.justify-content-center.align-items-center.bg-white(style="height: calc(100vh - 10vh);")
				h1.text-capitalize.display-2.font-weight-bold(data-swiper-parallax="-300")
					= `${locals.sitename[locals.lang]}`
				p.lead.text-muted.w-50(data-swiper-parallax="-100")
					|  This is an composition of the best things of
					code  Bootstrap 4
					| ,
					code  Gulp
					| , and
					code  jQuery.
		.swiper-slide
			.text-center.d-flex.flex-column.justify-content-center.align-items-center.bg-white(style="height: calc(100vh - 10vh);")
				h1.text-capitalize.display-2.font-weight-bold(data-swiper-parallax="-300")
					= `${locals.sitename[locals.lang]}`
				p.lead.text-muted.w-50(data-swiper-parallax="-100")
					| The aim of this Boilerplate is to use the free tiers of these services to get a live development environment up and running with minimal effort as a starter template.
	.swiper-button-prev
	.swiper-button-next