.board-members {
	padding: $grid-gutter-width*3 $grid-gutter-width * 2;

	@include media-breakpoint-down(md) {
		padding-right: $grid-gutter-width;
		padding-left: $grid-gutter-width;
	}

	@include media-breakpoint-down(sm) {
		padding-right: $grid-gutter-width / 2;
		padding-left: $grid-gutter-width / 2;
	}

	@include media-breakpoint-down(xs) {
		padding-right: $grid-gutter-width / 4;
		padding-left: $grid-gutter-width / 4;
	}

	&__content {
		display: flex;

		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
		}

		.board-member {
			flex: 1 0 calc(50% - (#{$grid-gutter-width}));
			width: calc(50% - (#{$grid-gutter-width}));

			&:not(:last-child) {
				margin-right: #{$grid-gutter-width};
			}

			&:not(:first-child) {
				margin-left: #{$grid-gutter-width}
			}

			@include media-breakpoint-down(md) {
				flex: 1 0 calc(50% - (#{$grid-gutter-width}));
				width: calc(50% - (#{$grid-gutter-width}));

				&:not(:last-child) {
					margin-right: #{$grid-gutter-width / 2};
				}

				&:not(:first-child) {
					margin-left: #{$grid-gutter-width / 2};
				}
			}

			@include media-breakpoint-down(sm) {
				flex: 1 0 100%;
				width: 100%;
				margin-right: 0 !important;
				margin-left: 0 !important;

				&:not(:last-child) {
					margin-bottom: $grid-gutter-width;
				}

				&:not(:first-child) {
					margin-top: $grid-gutter-width;
				}
			}

			@include media-breakpoint-down(xs) {
				&:not(:last-child) {
					margin-bottom: $grid-gutter-width / 2;
				}

				&:not(:first-child) {
					margin-top: $grid-gutter-width / 2;
				}
			}
		}
	}
}
