.clients {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 90vh;
	padding: #{$grid-gutter-width * 2} 0;

	.section__gradient-linear--primary-90-reverse {
		@include media-breakpoint-down(lg) {
			&::after {
				background: linear-gradient(-45deg, rgba($primary, 0.8), rgba($primary, 0.85), rgba($primary, 0.90), rgba($primary, 0.95), rgba($primary, 1.00), rgba($primary, 1.00));
			}
		}

		@include media-breakpoint-down(sm) {
			&::after {
				background: linear-gradient(0deg, rgba($primary, 0.8), rgba($primary, 0.85), rgba($primary, 0.90), rgba($primary, 0.95), rgba($primary, 1.00), rgba($primary, 1.00));
			}
		}
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $grid-gutter-width;
		img {
			opacity: 0.7;
			@include object-fit(scale-down, center);
		}
	}

	.brochure {
		&__image {
			position: absolute;
			overflow: hidden;
			width: 500px;
			height: 300px;
			bottom: calc(-300px / 2); // half of its height. 300 / 2
			right: 50%;
			top: initial;
			left: initial;

			@include media-breakpoint-down(md) {
				left: $grid-gutter-width * 2;
				right: initial;
			}

			@include media-breakpoint-down(sm) {
				left: -#{$grid-gutter-width};
			}

			@include media-breakpoint-down(xs) {
				max-width: calc(100vw - #{$grid-gutter-width * 2});
			}
		}

		&__content {
			@include media-breakpoint-up(xl) {
				padding-right: $grid-gutter-width;
				padding-left: $grid-gutter-width;
			}

			@include media-breakpoint-down(sm) {
				padding-right: 0;
				padding-left: 0;
			}
		}

		&__slider {
			height: 100%;

			&-buttons {
				bottom: -#{$brochure-slider-buttons-height};
    			top: initial;
				right: 50%;

				.swiper-button-prev,
				.swiper-button-next {
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	@media screen and (max-height: 700px) {
		min-height: 700px;
	}
}
