.footer {
	color: $white;
	background-color: darken(desaturate($primary, 8.41), 7.65);

	p {
		margin-bottom: 0;
	}

	&__top-section,
	&__bottom {
		padding-right: $grid-gutter-width * 2;
		padding-left: $grid-gutter-width * 2;

		@include media-breakpoint-down(md) {
			padding-left: #{$grid-gutter-width / 2};
			padding-right: #{$grid-gutter-width / 2};
		}
	}

	&__top {
		padding-top: $grid-gutter-width * 2;
		padding-bottom: $grid-gutter-width * 2;
		background-color: transparent;
	}

	&__bottom {
		padding-top: $grid-gutter-width * 0.75;
		padding-bottom: $grid-gutter-width * 0.75;
		background-color: darken(saturate(adjust-hue($primary, -2), 3.16), 16.86);

		&--content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: $font-size-sm;
				font-weight: $font-weight-light;
				text-transform: uppercase;

				& > span,
				& > a {
					color: rgba($white, 0.7);
				}

				a {
					margin-left: 3px;
					transition: $transition-base;
					position: relative;

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						height: $border-width;
						background-color: rgba($white, 0.7);
						display: block;
						width: 35%;
						transition: $transition-base;
					}

					&:hover,
					&:active,
					&:focus {
						color: rgba($white, 1);

						&:after {
							background-color: rgba($white, 1);
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include media-breakpoint-down(md) {
			margin-top: 2rem;
			justify-content: center;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		list-style-type: none;
		margin-bottom: 0;
	}

	&__list-item {
		&,
		& > a {
			opacity: 0.7;
			transition: $transition-base;
			color: $white;
			font-size: $font-size-lg;
			font-weight: $font-weight-light;
			text-transform: uppercase;
		}

		&:hover,
		&:active,
		&:focus {
			&,
			& > a {
				opacity: 1;
				color: $white;
			}
		}

		&:not(:last-of-type) {
			margin-right: $spacer * 2;
		}
	}

	&__title {
		font-weight: $font-weight-bold;
		text-align: center;
		text-transform: uppercase;
		color: rgba($white, 0.7);
	}
}
