.inner-article {
	position: relative;
	padding-top: #{$grid-gutter-width*2};
	padding-bottom: #{$grid-gutter-width*2};

	&__content {
		p {
			color: $black;
			margin-bottom: map-get($spacers, 4);
			font-weight: $font-weight-light;
		}
	}

	&__document {
		&:not(:last-child) {
			margin-bottom: map-get($spacers, 5);
		}

		p,
		li {
			color: $black;
			font-weight: $font-weight-light;
		}

		p,
		ul {
			margin-bottom: map-get($spacers, 4);
		}

		ul,
		ol {
			li {
				padding-left: 1rem;
				list-style: none;
				position: relative;

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 0.3em;
					height: 0.3em;
					transform: translateY(-50%) rotate(-45deg);
					transition: $transition-base;
					background-color: $body-color;
				}
			}
		}

		a {
			color: $primary;
			position: relative;
			cursor: pointer;
			font-weight: normal;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: map-get($spacers, 3);
			color: $primary;
			line-height: #{$line-height-base * 0.75};
		}

	}

	&__date,
	&__title,
	&__subtitle {
		&+.inner-article__document {
			margin-top: map-get($spacers, 5);
		}
	}

	&__date {
		font-size: 1.25rem;
		color: $body-color;
		font-weight: $font-weight-normal;
		margin-bottom: map-get($spacers, 2);
		display: block;
	}

	&__subtitle {
		font-size: $font-size-base;
		font-weight: $font-weight-light;
		color: $primary;
		display: block;
		margin-bottom: map-get($spacers, 2);
	}

	&__title {
		color: $primary;

		@include media-breakpoint-down(sm) {
			line-height: $line-height-base * 0.75;
		}
	}

	&__img {
		z-index: 10; // to be under the main header logo
		width: 100%;
		height: 600px;
		min-height: 600px;
		max-height: 600px;
		margin-bottom: $grid-gutter-width;

		img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, center);
		}
	}

	&__video {
		position: relative;
		z-index: 10; // to be under the main header logo
		width: 100%;
		height: 600px;
		// min-height: 600px;
		max-height: 600px;
		margin-bottom: $grid-gutter-width;
		overflow: hidden;

		video {
			width: 100%;
			height: calc(100% + 20px);
			vertical-align: middle;
		}

		&.no-controls {
			video {
				&::-webkit-media-controls {
					display: none;
				}
			}
		}

	}

	&__video-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.95;
		transition: $transition-base;
		z-index: 11;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: linear-gradient(transparent, $black);
		cursor: pointer;

		svg {
			width: 10rem;
			height: auto;
			transition: $transition-base;
		}

		&--hover-effect {

			&:hover,
			&:focus,
			&:active {
				transition: $transition-base;
				backdrop-filter: blur(3px);

				svg {
					transition: $transition-base;
					transform: scale(1.1);
				}
			}
		}

	}

	&__dropdown,
	&__nav-dropdown {
		padding: 0.9375rem 0.9375rem 0.9375rem 0.75rem;
		text-transform: capitalize;
		width: 100%;
		border: $border-width $border-style $border-color;
		color: rgba($black, 0.5);
		font-size: $font-size-base;
		font-weight: $font-weight-base;
	}

	&__nav {
		margin-bottom: map-get($spacers, 5);

		&-dropdown {
			text-transform: uppercase;
			font-size: 1.25rem;
			font-weight: $font-weight-bold;
			color: $black;
		}

		.nav-tabs {
			border-bottom: 0;

			.nav-item,
			.nav-link {
				padding-right: 0;
				padding-left: 0;
				margin-bottom: 0;
				border: 0;
				background-color: transparent;
				font-weight: $font-weight-bolder;
				font-size: $font-size-lg;
				text-transform: uppercase;
				color: $black;
				outline: none !important;
				box-shadow: none !important;

				&.active {
					color: $primary;
					border-bottom: $border-width*2 $border-style $primary;
				}
			}

			.nav-item {
				&:not(:last-child) {
					margin-right: map-get($spacers, 5);
				}
			}
		}

		.nav-pills {
			&.flex-column {

				.nav-item,
				.nav-link,
				.nav-link.active {
					background-color: transparent;
					color: $black;
					font-weight: $font-weight-bolder;
					font-size: 1.625rem;
					text-transform: uppercase;

					@include media-breakpoint-down(lg) {
						font-size: 1.375rem;
					}
				}

				.nav-item {
					&:not(:last-child) {
						.nav-link {
							border-bottom: $border-width $border-style $border-color;
						}
					}
				}

				.nav-link {
					padding: 2.5rem $grid-gutter-width*3 2.5rem 0;

					@include media-breakpoint-down(lg) {
						padding: 2.5rem 0;
					}

					&.active {
						padding-left: $grid-gutter-width;
						position: relative;

						&::after {
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%) rotate(45deg);
							width: $grid-gutter-width * 0.5;
							height: $grid-gutter-width * 0.5;
							background-color: $brown;
							transition: $transition-base;
						}
					}
				}
			}
		}
	}

	&__share {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		border-top: $border-width $border-style $border-color;
		border-bottom: $border-width $border-style $border-color;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $primary;
			text-transform: capitalize;
			margin-bottom: 0;

			&:not(:last-child) {
				margin-right: 1.5rem;
			}
		}

		.inner-article__list {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 0;
		}

		.inner-article__list-item {
			list-style: none;
			font-size: $font-size-lg;

			&,
			a,
			a:hover {
				color: $primary;
			}

			&:not(:last-child) {
				margin-right: 1.5rem;

			}

			@include media-breakpoint-down(sm) {
				font-size: 2rem;

				&:not(:last-child) {
					margin-right: 3.5rem;
				}
			}
		}
	}

	&__social {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		padding-top: #{$grid-gutter-width*2}; // same as .inner-article padding-top

		.inner-article__list {
			display: flex;
			flex-direction: column;
			list-style-type: none;
			margin: 0;
		}

		.inner-article__list-item {
			position: relative;
			left: calc(-100% + 16px + #{$font-size-base});
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $primary;
			transition: left 0.25s ease-out;

			&:not(:last-child) {
				margin-bottom: $border-width;
			}

			&,
			a {
				color: $white;
			}

			a {
				width: 100%;
				height: 100%;
				padding: 8px;
				font-size: $font-size-sm;
				font-weight: $font-weight-light;

				i {
					margin-left: 24px;
				}
			}

			&:hover,
			&:focus,
			&:active {
				left: 0;
			}
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	&__action-buttons {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;

		@include media-breakpoint-only(lg) {
			flex-wrap: wrap;
		}

		@include media-breakpoint-only(md) {
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: map-get($spacers, 5);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 50%;
		max-width: 50%;
		text-align: center;
		background-color: $gray-400;
		color: $primary;
		font-weight: $font-weight-bold;
		font-size: $font-size-base;
		text-transform: uppercase;
		transition: $transition-base;
		padding: 16px;

		&:not(:last-child) {
			border-right: $border-width $border-style $white;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: darken($gray-400, 10%);
			color: $primary;
		}

		@include media-breakpoint-only(lg) {
			flex: 1 0 100%;
			max-width: 100%;

			&:not(:last-child) {
				border-right: 0;
				border-bottom: $border-width $border-style $white;
			}
		}

		@include media-breakpoint-only(md) {
			flex: 1 0 100%;
			max-width: 100%;

			&:not(:last-child) {
				border-right: 0;
				border-bottom: $border-width $border-style $white;
			}
		}
	}
}
