.online-services {
	padding: #{$grid-gutter-width * 3} #{$grid-gutter-width * 2};

	@include media-breakpoint-down(md) {
		padding: #{$grid-gutter-width * 2} $grid-gutter-width;
	}

	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
	}

	.section__title {
		color: $primary;
		text-align: center;
		margin-bottom: map-get($spacers, 5);
	}
}
