.our-community {
	padding-top: map-get($spacers, 3);
	padding-bottom: map-get($spacers, 5);
	.brochure {
		&__content {
			text-align: left;
			align-items: flex-start;
		}
		&__title {
			margin-bottom: map-get($spacers, 4);
		}
		&__text {
			line-height: $line-height-base;
		}
		&__image {
			&--left {
				@include media-breakpoint-down(sm) {
					margin-top: calc(-#{$brochure-padding-gap});
					margin-bottom: calc(-#{$brochure-padding-gap});
					margin-right: auto;
					margin-left: auto;
				}
			}

			&--right {
				@include media-breakpoint-down(sm) {
					margin-top: calc(-#{$brochure-padding-gap});
					margin-bottom: calc(-#{$brochure-padding-gap});
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
	}
}
