.services {
	padding: 2.8125rem $grid-gutter-width*2 5.625rem $grid-gutter-width*2;

	@include media-breakpoint-down(md) {
		padding: 8.75rem $grid-gutter-width;
	}
	@include media-breakpoint-down(sm) {
		padding: 3.75rem 0;
	}
}
