* {
	&,
	&:before,
	&:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
	}
}

html {
	font-size: $font-size-base;

	@include media-breakpoint-down(md) {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
	}
}

body {
	&,
	#app {
		overflow-x: hidden;
	}

	&.preloader-shown,
	&.menu-open {
		overflow: hidden;
	}
}

// updating nav-fill tabs
.nav-tabs {
	&.nav-fill {
		.nav-item {
			@include media-breakpoint-up(md) {
				flex: initial;
				text-align: initial;
			}

			@include media-breakpoint-down(sm) {
				// width: 100%;
				// &:not(:first-child) {
				// 	margin-top: 1.5rem;
				// }

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}

	&:not(.nav-fill) {
		@include media-breakpoint-down(sm) {
			width: 100%;
			overflow-x: scroll;
			flex-wrap: nowrap;

			.nav-item {
				&:not(:last-child) {
					margin-right: 3rem;
				}

				flex: 1 0 auto;
			}
		}
	}
}

a.apply {
	display: inline-block;
	padding-bottom: 0.125rem;
	transition: $transition-base;
	font-weight: $font-weight-bold;
	text-transform: uppercase;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: $border-width;
		background-color: $primary;
		display: block;
		width: 35%;
		transition: $transition-base;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;

		&:after {
			width: 100%;
		}
	}
}
