#careers-and-trainings {
	.inner-article__title {
		text-transform: uppercase;
		margin-bottom: map-get($spacers, 4);
	}

	.careers-detailed {
		padding: 2.8125rem $grid-gutter-width*2 5.625rem $grid-gutter-width*2;

		@include media-breakpoint-up(lg) {
			padding-top: calc(75px + (#{$grid-gutter-width} * 2));
		}

		@include media-breakpoint-down(md) {
			padding: $grid-gutter-width;
		}

		@include media-breakpoint-down(sm) {
			padding: 3.75rem 0;
		}

		.tab-pane {
			@include media-breakpoint-up(lg) {
				margin-top: -75px;
			}
		}
	}

	.inner-article__tabs {
		padding-top: $grid-gutter-width * 5;
		padding-bottom: $grid-gutter-width;

		@include media-breakpoint-down(sm) {
			padding-top: $grid-gutter-width * 3;
		}

		.brochure {

			&,
			&__slider {
				height: 100%;
			}

			&__slider {
				position: relative;
				margin-top: -#{$grid-gutter-width * 4};
				margin-bottom: #{$grid-gutter-width * 4};

				.brochure__image {
					margin-top: initial !important;
					margin-bottom: initial !important;
				}

				&-buttons {
					position: absolute;
					left: initial;
					bottom: $brochure-slider-buttons-height;
					right: -#{$brochure-slider-buttons-width};
					transform: initial !important;

					@include media-breakpoint-down(lg) {
						top: $brochure-slider-buttons-height / 2;
						right: $grid-gutter-width;
						bottom: initial;
					}

					@include media-breakpoint-down(sm) {
						top: $brochure-slider-buttons-height / 4;
						right: $grid-gutter-width / 2;
					}
				}

			}

			&__content {
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 0;
				margin-top: -#{$grid-gutter-width * 5};
				padding-left: 0;

				@include media-breakpoint-down(md) {
					padding-left: 0;
				}
			}

			&__text {
				line-height: $line-height-base;

				@include media-breakpoint-up(md) {
					padding-left: $grid-gutter-width * 2;
				}
			}

			&__title {
				margin-bottom: $spacer !important;
				text-align: left;
			}

			&__image {
				height: 25rem;
				position: relative;
				margin-top: -#{$grid-gutter-width * 4};
				margin-bottom: #{$grid-gutter-width * 4};

				@include media-breakpoint-down(md) {
					height: 20rem;
				}

				&,
				&:hover {
					img {
						transform: none;
					}
				}

				&:before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 50%;
					z-index: 2;
					background: linear-gradient(0deg, rgba($white, 1) 0%, rgba($white, 0.75) 25%, rgba($white, 0.5) 50%, rgba($white, 0.25) 75%, rgba($white, 0) 100%);
				}
			}
		}

	}
}
