#index {
	.clients {
		padding: 0;

		@include media-breakpoint-down(md) {
			padding: #{$grid-gutter-width * 2} 0;
		}

		.brochure {
			&__image {
				position: absolute;
				overflow: hidden;
				width: 500px;
				height: 300px;
				bottom: calc(-300px / 2); // half of its height. 300 / 2
				right: 50%;
				top: initial;
				left: initial;

				@include media-breakpoint-down(md) {
					left: $grid-gutter-width * 2;
					right: initial;
				}

				@include media-breakpoint-down(sm) {
					left: -#{$grid-gutter-width};
				}

				@include media-breakpoint-down(xs) {
					max-width: calc(100vw - #{100% / $grid-columns});
				}
			}

			&__content {
				@include media-breakpoint-up(xl) {
					padding-bottom: 15rem;
				}

				@include media-breakpoint-down(lg) {
					padding-top: 7.5rem;
				}
			}

			&__slider {
				padding-bottom: 15rem;
				padding-top: 5.75rem;

				@include media-breakpoint-down(lg) {
					padding-top: 0;
					padding-bottom: 20rem;
				}

				@include media-breakpoint-down(md) {
					padding-top: 0;
					padding-bottom: 20rem;
				}

				&-buttons {
					bottom: 10rem;
					top: initial;
					right: 50%;
					transform: translate(50%, -50%) !important;

					@include media-breakpoint-down(md) {
						bottom: 11rem;
					}
				}
			}
		}
	}

	#home-banner {
		min-height: 100vh;
		height: 100vh;
		color: $white;
		position: relative;
		overflow: hidden;

		&>.container-fluid,
		&>.container {

			&,
			&>.row {

				&,
				&>div[class^="col-"] {
					height: 100%;
				}
			}
		}

		& .container-fluid,
		& .container {

			&,
			&>.row {

				&,
				&>div[class^="col-"] {
					margin: 0;
					padding: 0;
				}
			}
		}

		&>.section__gradient {
			&-linear--primary {
				&::after {
					background: linear-gradient(0deg, rgba($primary, 0.80), rgba($primary, 0.85), rgba($primary, 0.90), rgba($primary, 0.95), rgba($primary, 1.00), rgba($primary, 1.00), rgba($primary, 1.00));
				}
			}
		}

		&:after {
			content: "";
			position: absolute;
			width: calc(100% - (#{$grid-gutter-width} * 2));
			height: calc(100% - (#{$grid-gutter-width} * 2));
			top: $grid-gutter-width;
			left: $grid-gutter-width;
			display: block;
			z-index: $zindex-sections + 6;
			border: $border-width*2 $border-style $border-color;

			@include media-breakpoint-down(lg) {
				top: $grid-gutter-width / 2;
				left: $grid-gutter-width / 2;
				height: calc(100% - (#{$grid-gutter-width}));
				width: calc(100% - (#{$grid-gutter-width}));
			}
		}

		&__side {
			display: flex;
			align-items: flex-end;
			position: relative;
			width: 100%;
			height: 100%;
			padding: $grid-gutter-width * 2;

			&>.container-fluid,
			&>.container {

				&,
				&>.row {

					&,
					&>div[class^="col-"] {
						padding: 0;
						margin: 0;
						z-index: $zindex-sections + 7;
					}
				}
			}

			@include media-breakpoint-down(lg) {
				padding: $grid-gutter-width;
			}

			@include media-breakpoint-down(md) {
				margin-top: calc(65px + (#{$grid-gutter-width}));
				align-items: center;
			}

			@include media-breakpoint-down(sm) {
				margin-top: calc(55px + (#{$grid-gutter-width}));
			}
		}

		&__img {
			height: 100%;
			width: 100%;

			.section__bg--img {
				opacity: 1;
			}
		}

		&__title {
			color: $white;
			font-family: inherit;
			text-transform: uppercase;
			font-weight: 400;
			font-size: $h4-font-size;
			line-height: $line-height-base / 1.75;
			width: 85%;

			strong {
				font-size: $h1-font-size;
				font-weight: $font-weight-bolder;
			}

			@include media-breakpoint-down(lg) {
				width: 80%;
				font-size: $h5-font-size;

				strong {
					font-size: $h2-font-size;
				}
			}

			@include media-breakpoint-down(md) {
				width: 90%;
			}

			@include media-breakpoint-down(xs) {
				width: 100%;
				strong {
					font-size: $h3-font-size;
				}
			}
		}

		&__text {
			font-size: 1rem;
			font-weight: 200;
			color: $white;
			width: 75%;
			margin-bottom: $spacer * 3.9;

			@include media-breakpoint-down(lg) {
				width: 80%;
			}

			@include media-breakpoint-down(md) {
				width: 90%;
			}

			@include media-breakpoint-down(sm) {
				width: 90%;
			}
		}

		&__button {
			margin-bottom: 3.9rem;
			margin-left: 8px;
			@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
		}

		&__slider {
			&--arrows {

				display: flex;
				align-items: center;
				justify-content: flex-start;

				.swiper-button-prev,
				.swiper-button-next {
					position: relative;
					width: 60px;
					height: 50px;
					background-size: 35px;
				}

				.swiper-button-prev,
				.swiper-container-rtl .swiper-button-next {
					left: 0;
					transition: $transition-base;
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}

				.swiper-button-next,
				.swiper-container-rtl .swiper-button-prev {
					right: 0;
					transition: $transition-base;
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		@media screen and (max-height: 700px) {
			height: 700px;
			min-height: 700px;

			&:after {
				height: calc(100% - (#{$grid-gutter-width} * 2));
			}

			@include media-breakpoint-down(lg) {
				&:after {
					height: calc(100% - (#{$grid-gutter-width}));
				}
			}
		}
	}

	#home-what-we-do {
		padding: $grid-gutter-width*8 $grid-gutter-width*2;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;

		@include media-breakpoint-down(md) {
			padding-top: $grid-gutter-width * 20;
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}

		@include media-breakpoint-down(sm) {
			padding-right: 0;
			padding-left: 0;
		}

		.brochure {
			margin-left: auto;
			margin-right: auto;

			&__content {
				@include media-breakpoint-down(lg) {
					padding: $grid-gutter-width*1.425 $grid-gutter-width*1.895;
				}
				@include media-breakpoint-down(md) {
					padding-top: 100px;
					padding-bottom: 40px;
					padding-right: $grid-gutter-width*1.26;
					padding-left: $grid-gutter-width*1.26;
				}

				@include media-breakpoint-down(sm) {
					padding-top: 150px;
					padding-bottom: 60px;
					padding-left: $grid-gutter-width*0.945;
					padding-right: $grid-gutter-width*0.945;
				}
			}

			&__slider {

				.swiper-container {
					height: 100%;
				}

				&-buttons {
					position: absolute;
					bottom: $brochure-slider-buttons-height;
					right: -#{$brochure-slider-buttons-width};
					transform: initial !important;

					@include media-breakpoint-down(md) {
						bottom: $brochure-slider-buttons-height / 2;
					}

					@include media-breakpoint-down(sm) {
						bottom: -#{$brochure-slider-buttons-height / 2};
						right: $brochure-slider-buttons-width / 2;
					}
				}
			}

			&__text {
				width: 80%;

				@include media-breakpoint-down(md) {
					width: 100%;
				}
			}

			&__text,
			&__subtitle,
			&__title {
				&+.brochure__link {
					margin-top: $spacer * 3;
				}
			}
		}

		@media screen and (max-height: 700px) {
			height: 1000px;

			@include media-breakpoint-up(lg) {
				padding-top: 0;
				padding-bottom: 0;
			}
			@include media-breakpoint-down(md) {
				padding-top: $grid-gutter-width * 28;
				padding-bottom: $grid-gutter-width * 10;
			}
		}
	}


	#home-latest-news {
		padding: 12.9375rem $grid-gutter-width*2 0 $grid-gutter-width*2;

		&>.container,
		&>.container-fluid {
			padding-right: 0;
			padding-left: 0;
		}


		@include media-breakpoint-down(lg) {
			padding-right: $grid-gutter-width / 2;
			padding-left: $grid-gutter-width / 2;
		}

		@include media-breakpoint-down(md) {
			padding-right: 0;
			padding-left: 0;
		}

		.brochure {
			&__content {
				padding: $grid-gutter-width*2.4 $grid-gutter-width*2;

				@include media-breakpoint-down(lg) {
					padding-right: $grid-gutter-width;
					padding-left: $grid-gutter-width;
				}

				@include media-breakpoint-down(sm) {
					padding-right: $grid-gutter-width / 2;
					padding-left: $grid-gutter-width / 2;
					padding-bottom: $grid-gutter-width;
				}
			}
		}
	}

}
