.home {

	// Banner Section ".home-banner" prefix
	&-banner {
		min-height: 100vh;
		height: 100vh;
		color: $white;
		position: relative;
		overflow: hidden;

		&>.container-fluid,
		&>.container {

			&,
			&>.row {

				&,
				&>div[class^="col-"] {
					height: 100%;
				}
			}
		}

		& .container-fluid,
		& .container {

			&,
			&>.row {

				&,
				&>div[class^="col-"] {
					margin: 0;
					padding: 0;
				}
			}
		}

		&__background {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $primary;

			&--img {
				img {
					height: 100%;
					width: 100%;
					@include object-fit(cover, center);
				}
			}
		}

		&>.home-banner__background {

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba($primary, 0.85), rgba($primary, 0.90), rgba($primary, 0.95), rgba($primary, 1.00), rgba($primary, 1.00), rgba($primary, 1.00));
			}

			&--img {
				img {
					opacity: 0.2;
				}
			}
		}

		&:after {
			content: "";
			position: absolute;
			width: calc(100% - (#{$grid-gutter-width} * 2));
			height: calc(100vh - (#{$grid-gutter-width} * 2));
			top: $grid-gutter-width;
			left: $grid-gutter-width;
			display: block;
			z-index: $zindex-sections + 6;
			border: $border-width*2 $border-style $border-color;
		}

		&__side {
			position: relative;
			width: 100%;
			height: 100%;
			padding: $grid-gutter-width * 2;

			background: transparent;

			&>.container {

				&,
				&>.row {

					&,
					&>div[class^="col-"] {
						z-index: $zindex-sections + 7;
					}
				}
			}
		}

		&__logo {
			width: 80px;
			height: auto;
			z-index: $zindex-sections + 8;
			margin-bottom: 3.9rem;

			a {
				display: block;

				&,
				&>img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&__title {
			color: $white;
			font-family: inherit;
			text-transform: uppercase;
			font-weight: 400;
			font-size: $h4-font-size;
			line-height: 3rem;
			width: 60%;

			strong {
				font-size: $h1-font-size;
				font-weight: 800;
			}

			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}

		&__text {
			font-size: 1rem;
			font-weight: 200;
			color: $white;
			text-align: justify;
			width: 75%;
			margin-bottom: 3.9rem;

			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}

		&__button {
			margin-bottom: 3.9rem;
			margin-left: 8px;
		}

		&__slider {
			&--arrows {

				display: flex;
				align-items: center;
				justify-content: flex-start;

				.swiper-button-prev,
				.swiper-button-next {
					position: relative;
					width: 60px;
					height: 50px;
					background-size: 35px;
				}

				.swiper-button-prev,
				.swiper-container-rtl .swiper-button-next {
					left: 0;
					transition: $transition-base;
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}

				.swiper-button-next,
				.swiper-container-rtl .swiper-button-prev {
					right: 0;
					transition: $transition-base;
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		@media screen and (max-height: 600px) {
			height: 100%;
			min-height: 100%;

			&:after {
				height: calc(100% - (#{$grid-gutter-width} * 2));
			}
		}
	}

	// What we do Section ".home-whatWeDo" prefix
	&-whatWeDo {
		background-color: $body-bg;
		padding: $grid-gutter-width*8 $grid-gutter-width*2;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;

		.brochure {
			&__slider {
				&-buttons {
					position: absolute;
					bottom: $brochure-slider-buttons-height;
					right: -#{$brochure-slider-buttons-width};
					transform: initial !important;
				}
			}

			&__text {
				width: 80%;

				@include media-breakpoint-down(md) {
					width: 100%;
				}
			}
		}

		@media screen and (max-height: 600px) {
			height: 100%;
			padding-top: $grid-gutter-width*8;
			padding-bottom: $grid-gutter-width*8;
		}
	}

	&-clients {
		background-color: $primary;
		position: relative;

		&__background {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;

			&--img {
				img {
					height: 100%;
					width: 100%;
					opacity: 0.2;
					@include object-fit(cover, center);
				}
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(-90deg, rgba($primary, 0.85), rgba($primary, 0.90), rgba($primary, 0.95), rgba($primary, 1.00), rgba($primary, 1.00));
			}
		}

		&__logo {
			width: 100%;
			height: 100%;

			img {
				opacity: 0.7;
				width: 100%;
				height: 100%;
				@include object-fit(scale-down, center);
			}
		}

		.brochure {
			&__image {
				right: 0;
				bottom: calc(-300px / 2); // half of its height. 300 / 2
				top: initial;
				left: initial;
				width: 500px;
				height: 300px;
			}

			&__content,
			&__slider {
				padding-bottom: 241px;
			}

			&__slider {
				padding-top: 5.75rem;
				max-height: 100vh;

				&-buttons {
					top: 50%;
					bottom: initial;
					left: 50%;
					right: initial;
					transform: translateX(-50%) !important;

					.swiper-button-prev,
					.swiper-button-next {
						opacity: 0.7;

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&-latestNews{
		padding: 12.9375rem $grid-gutter-width*2 0 $grid-gutter-width*2;
		background-color: $body-bg;

		.brochure{
			&__content {
				padding: $grid-gutter-width*2.4 $grid-gutter-width*2;
			}
		}
	}

	&-discussMore{
		background-color: $white;
		position: relative;
		padding-top: 12rem;
		padding-bottom: 12rem;

		&__background {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;

			&--img {
				img {
					height: 100%;
					width: 100%;
					opacity: 0.2;
					@include object-fit(cover, center);
				}
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: radial-gradient(circle, rgba($white, 0.85) 0%, rgba($white, 1) 100%);
			}
		}


		.brochure {
			&__content {
				padding: $grid-gutter-width * 2;
			}
			&__buttons {
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
			}
		}
	}
}
