#our-people-single {
	.inner-header {
		&__content {
			@include media-breakpoint-down(md) {
				padding-right: $grid-gutter-width;
			}

			@include media-breakpoint-down(sm) {
				justify-content: flex-start;
				padding-top: calc(((100vh - #{$grid-gutter-width} * #{$inner-header-height-ratio}) / 2));
				padding-left: 0;
				padding-right: 0;
			}
		}

		&__title {
			@include media-breakpoint-down(xl) {
				width: 70%;
			}

			@include media-breakpoint-down(lg) {
				width: 100%;
			}

			@include media-breakpoint-down(sm) {
				font-size: 3rem;
			}
		}

		&__subtitle {
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
			}
		}

		&__breadcrumb {
			@include media-breakpoint-down(sm) {
				margin-top: map-get($spacers, 5);
			}

			@include media-breakpoint-down(xs) {
				margin-top: map-get($spacers, 4);
			}
		}
	}

	.inner-article {
		&__img {
			margin-top: calc(-200px - #{$grid-gutter-width * 5}); // (- img height / 3) + section padding-top * 2
			margin-bottom: 0;

			@include media-breakpoint-down(sm) {
				margin-top: calc(-200px + #{$grid-gutter-width}); // (- img height / 3) + section padding-top * 2
				margin-left: 0;
			}
		}
	}
}
