#services-and-clients {
	.services-detailed {

		padding: 2.8125rem $grid-gutter-width*2 5.625rem $grid-gutter-width*2;

		@include media-breakpoint-up(lg) {
			padding-top: calc(75px + (#{$grid-gutter-width} * 2));
			padding-right: 0 !important;
		}

		@include media-breakpoint-down(md) {
			padding: $grid-gutter-width;
		}
		@include media-breakpoint-down(sm) {
			padding: 3.75rem 0;
		}
	}

	.inner-article {
		&__img{
			@include media-breakpoint-up(lg) {
				margin-top: -75px;
			}
		}
	}

	.service-card{
		height: 25rem;
		min-height: 25rem;
		margin-bottom: map-get($spacers, 4);
	}
}
