mixin pagination(data={})
	nav.pagination.pagination--brown
		ul.pagination__list
			li.pagination__list-item.pagination__counter
				span.pagination__number 1
				span.pagination__number 14
			li.pagination__list-item.pagination__prev
				a(href="#")
			li.pagination__list-item.pagination__next
				a(href="#")
