include ./_breadcrumb.pug

mixin page-header(data={title: "", subtitle: "", back: { title: "", href: "" }, img: { src: "" }, breadcrumb: []})
	header.section.page-header
		.section-bg.section-bg__img.section-bg__img--blue
			img(src="./images/patterns/pattern.jpg")
		.container-fluid
			.row
				.col-10.col-sm-8.col-md-4
					if (data.img && Boolean(data.img.src))
						.page-header__img
							img(src=data.img.src)
				.col-12.col-md-7.offset-md-1
					.page-header__content
						if (data.back)
							a.page-header__back(href=data.back.href)=data.back.title
						if (Boolean(data.title))
							h2.page-header__title=data.title
						if (Boolean(data.subtitle))
							h5.page-header__subtitle Senior Managing Partner
						if (data.breadcrumb && data.breadcrumb.length)
							+breadcrumb(data.breadcrumb)
