mixin service-card(data={ href: "#", img: { src:"", alt:"" }}, index=0)
	a.service-card.service-card__hover-effect(href=data.href)
		.service-card__image
			img(src=data.img.src, alt=data.img.alt)
		if(data.title)
			h3.service-card__title(data-swiper-parallax="-300")=data.title
