mixin service-card(data={ img: { src:"", alt:"" }}, index=0)
	.service-card
		.service-card__image
			img(src=data.img.src, alt=data.img.alt)
		if(data.title)
			h3.service-card__title(data-swiper-parallax="-300")=data.title
