extends ./layouts/_index_layout.pug
include ./mixins/_service-card.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "our history";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/1.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-our-history.html" }]}

block content
	main#about-our-history(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content.wow.fadeIn(data-wow-duration="1s", data-wow-delay="2s")
								p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			section.timeline.section.section__bg--white
				.container-fluid
					.row
						.col-3.col-md-3.col-xl-2.px-0
							.timeline__pagination
								.swiper-pagination(for="timeline-slider", data-pagination-bullets="1919, 1920, 1923, 1927, 1931, 1945, 1953, 1959, 1962, 1976, 1987, 1992, 1997, 2002, 2008, 2014, 2019")
									ul.timeline__pagination-list
						.col-9.col-md-9.col-xl-8.px-0
							.timeline__content
								.timeline__slider
									.swiper-container#timeline-slider(data-swiper-effect="fade")
										.swiper-wrapper
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/1.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1919
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/2.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1920
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/3.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1923
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/4.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1927
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/5.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1931
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/6.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1945
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/1.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1953
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/2.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1959
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/3.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1962
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/4.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1976
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/5.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1987
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/6.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1992
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/1.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 1997
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/2.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 2002
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/3.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 2008
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/4.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 2014
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.swiper-slide
												.brochure.brochure__bg--transparent
													.row
														.col-12.col-xl-8
															.brochure__image.brochure__image--border(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
																img(src="./images/timeline/5.jpg")
														.col-12.col-xl-10
															.brochure__content.text-left.align-items-start
																h2.brochure__title 2019
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								.timeline__slider-buttons
									.swiper-button-prev(for="timeline-slider")
									.swiper-button-next(for="timeline-slider")
