extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "affiliation & networks";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/3.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-affiliation-and-networks.html" }]}

block content
	main#about-affiliation-and-networks(role="main")
		+inner-header(header_data)

		// Inner Page Article
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content.wow.fadeIn(data-wow-duration="1s", data-wow-delay="2s")
								p Shalakany is proud to be the exclusive member firm in Egypt of the following networks:
			section.section.section__bg--white.board-members
				.container
					.row
						.col-12
							.board-members__content.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.4s")
								.board-member.board-member__gray-200
									.board-member__logo
										img(src="./images/icons-logos/LexMundi.png", alt="")
									.board-member__description
										p Shalakany is the exclusive member firm in Egypt for Lex Mundi – the world’s leading network of independent law firms with in-depth experience in 100+ countries worldwide.
										p As part of the Lex Mundi global network, we can provide our clients with preferred access to more than 21,000 lawyers around the world – all from a single point of contact.
										p Individually, each Lex Mundi member firm is a leader in its local market. Collectively, Lex Mundi firms provide global legal resources with unmatched depth and breadth. Working with other Lex Mundi firms, we are able to seamlessly handle our clients’ most challenging cross-border transactions and disputes.
									.board-member__video.no-controls
										.board-member__video-overlay.board-member__video-overlay--hover-effect
											svg(viewBox='0 0 200 200', alt='Play video')
												polygon(points='70, 55 70, 145 145, 100', fill='#fff')
										video(src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", controls, poster="./images/conferences/4.jpg")
								.board-member.board-member__gray-200.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.6s")
									.board-member__logo
										img(src="./images/icons-logos/meritas-logo.png", alt="")
									.board-member__description
										p Shalakany is the exclusive member firm in Egypt of Meritas – Law Firms Worldwide. Meritas is an established global alliance of independent, full-service law firms. Since its foundation in 1990, it has been distinguished by high quality standards.
										p Over the years, Meritas has carefully vetted and invited select, like-minded firms to join the non-profit alliance for their mutual benefit. Today, there are 176 Meritas law firms worldwide, in over 70 countries. Firms become members through invitation. To maintain membership, they agree to perform under a comprehensive Quality Assurance Program, ensuring that clients receive the same high quality legal work and service from every Meritas firm.
										p Shalakany is proud to announce Emad El Shalakany as Meritas Board Member.
									.board-member__video.no-controls
										.board-member__video-overlay.board-member__video-overlay--hover-effect
											svg(viewBox='0 0 200 200', alt='Play video')
												polygon(points='70, 55 70, 145 145, 100', fill='#fff')
										video(src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", controls, poster="./images/conferences/4.jpg")
		// Inner Page Article End.
