extends ./layouts/_index_layout.pug
include ./mixins/_service-card.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "our history";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/1.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-our-history.html" }]}

block content
	main#about-our-history(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content
								p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			section.timeline.section.section__bg--white
				.container-fluid
					.row
						.col-3.col-md-3.col-xl-2.px-0
							.timeline__nav
								ul.nav.flex-column.nav-pills#timeline-tab(role="tablist" aria-orientation="vertical")
									li.nav-item(role="presentation")
										a.nav-link.active#timeline-1919-tab(data-toggle="pill" href="#timeline-1919" role="tab" aria-controls="timeline-1919" aria-selected="true") 1919
									li.nav-item(role="presentation")
										a.nav-link#timeline-1920-tab(data-toggle="pill" href="#timeline-1920" role="tab" aria-controls="timeline-1920" aria-selected="false") 1920
									li.nav-item(role="presentation")
										a.nav-link#timeline-1923-tab(data-toggle="pill" href="#timeline-1923" role="tab" aria-controls="timeline-1923" aria-selected="false") 1923
									li.nav-item(role="presentation")
										a.nav-link#timeline-1927-tab(data-toggle="pill" href="#timeline-1927" role="tab" aria-controls="timeline-1927" aria-selected="false") 1927
									li.nav-item(role="presentation")
										a.nav-link#timeline-1931-tab(data-toggle="pill" href="#timeline-1931" role="tab" aria-controls="timeline-1931" aria-selected="false") 1931
									li.nav-item(role="presentation")
										a.nav-link#timeline-1945-tab(data-toggle="pill" href="#timeline-1945" role="tab" aria-controls="timeline-1945" aria-selected="false") 1945
									li.nav-item(role="presentation")
										a.nav-link#timeline-1953-tab(data-toggle="pill" href="#timeline-1953" role="tab" aria-controls="timeline-1953" aria-selected="false") 1953
									li.nav-item(role="presentation")
										a.nav-link#timeline-1959-tab(data-toggle="pill" href="#timeline-1959" role="tab" aria-controls="timeline-1959" aria-selected="false") 1959
									li.nav-item(role="presentation")
										a.nav-link#timeline-1962-tab(data-toggle="pill" href="#timeline-1962" role="tab" aria-controls="timeline-1962" aria-selected="false") 1962
									li.nav-item(role="presentation")
										a.nav-link#timeline-1976-tab(data-toggle="pill" href="#timeline-1976" role="tab" aria-controls="timeline-1976" aria-selected="false") 1976
									li.nav-item(role="presentation")
										a.nav-link#timeline-1987-tab(data-toggle="pill" href="#timeline-1987" role="tab" aria-controls="timeline-1987" aria-selected="false") 1987
									li.nav-item(role="presentation")
										a.nav-link#timeline-1992-tab(data-toggle="pill" href="#timeline-1992" role="tab" aria-controls="timeline-1992" aria-selected="false") 1992
									li.nav-item(role="presentation")
										a.nav-link#timeline-1997-tab(data-toggle="pill" href="#timeline-1997" role="tab" aria-controls="timeline-1997" aria-selected="false") 1997
									li.nav-item(role="presentation")
										a.nav-link#timeline-2002-tab(data-toggle="pill" href="#timeline-2002" role="tab" aria-controls="timeline-2002" aria-selected="false") 2002
									li.nav-item(role="presentation")
										a.nav-link#timeline-2008-tab(data-toggle="pill" href="#timeline-2008" role="tab" aria-controls="timeline-2008" aria-selected="false") 2008
									li.nav-item(role="presentation")
										a.nav-link#timeline-2014-tab(data-toggle="pill" href="#timeline-2014" role="tab" aria-controls="timeline-2014" aria-selected="false") 2014
									li.nav-item(role="presentation")
										a.nav-link#timeline-2019-tab(data-toggle="pill" href="#timeline-2019" role="tab" aria-controls="timeline-2019" aria-selected="false") 2019
						.col-9.col-md-9.col-xl-10.px-0
							.timeline__content
								.tab-content#timeline-content
									.tab-pane.animated.fadeInRight.show.active#timeline-1919(role="tabpanel" aria-labelledby="timeline-1919-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-8
													.brochure__slider.brochure__slider--timeline
														.swiper-container#timeline-slider-1919(data-swiper-effect="slide")
															.swiper-wrapper
																.swiper-slide
																	.brochure__image
																		img(src="./images/timeline/1.jpg")
																.swiper-slide
																	.brochure__image
																		img(src="./images/timeline/2.jpg")
																.swiper-slide
																	.brochure__image
																		img(src="./images/timeline/3.jpg")
																.swiper-slide
																	.brochure__image
																		img(src="./images/timeline/4.jpg")
																.swiper-slide
																	.brochure__image
																		img(src="./images/timeline/5.jpg")
														.brochure__slider-buttons.brochure__slider-buttons--white
															.swiper-button-prev(for="timeline-slider-1919")
															.swiper-button-next(for="timeline-slider-1919")
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1919
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1920(role="tabpanel" aria-labelledby="timeline-1920-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-8
													.brochure__image
														img(src="./images/timeline/2.jpg")
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1920
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1923(role="tabpanel" aria-labelledby="timeline-1923-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1923
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1927(role="tabpanel" aria-labelledby="timeline-1927-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1927
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1931(role="tabpanel" aria-labelledby="timeline-1931-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1931
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1945(role="tabpanel" aria-labelledby="timeline-1945-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1945
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1953(role="tabpanel" aria-labelledby="timeline-1953-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1953
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1959(role="tabpanel" aria-labelledby="timeline-1959-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1959
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1962(role="tabpanel" aria-labelledby="timeline-1962-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1962
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1976(role="tabpanel" aria-labelledby="timeline-1976-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1976
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1987(role="tabpanel" aria-labelledby="timeline-1987-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1987
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1992(role="tabpanel" aria-labelledby="timeline-1992-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1992
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-1997(role="tabpanel" aria-labelledby="timeline-1997-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 1997
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-2002(role="tabpanel" aria-labelledby="timeline-2002-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 2002
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-2008(role="tabpanel" aria-labelledby="timeline-2008-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 2008
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-2014(role="tabpanel" aria-labelledby="timeline-2014-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 2014
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
									.tab-pane.animated.fadeInRight#timeline-2019(role="tabpanel" aria-labelledby="timeline-2019-tab")
										.brochure.brochure__bg--transparent
											.row
												.col-12.col-xl-10
													.brochure__content.text-left.align-items-start
														h2.brochure__title 2019
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
