extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "values & culture";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/2.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-values-and-culture.html" }]}

block content
	main#about-values-and-culture(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-10.offset-1.col-md-6.offset-md-5
							.inner-article__content
								p Through the experience, expertise and dedication of its lawyers and staff, the Firm provides bespoke top quality legal services for its clients. Each client receives the personal attention of a partner who, as the designated client manager, is responsible for ensuring that all work for the client is handled in a professional and timely manner by the specialized experts within the Firm.
								p The success of the Firm’s clients is a measure of the Firm’s own success. To assist its clients, the Firm strives to understand their business objectives. The Firm’s ultimate aim is for clients to consider the Firm as their trusted counsel and an extension of their team.
		section.section.firms-culture
			.section__bg--img-container.section__fade.section__fade--black-02
				img.section__bg--img(src="./images/firms-culture.jpg")
			.container
				.row
					.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
						p.firms-culture__subtitle.text-center The firm’s culture is firmly founded around our core values, which are:
					.col-12
						.firms-culture__content
							.row
								.col-12.col-sm-6.col-md-4
									.culture
										h5.culture__title Commitment to our clients
										hr
										p.culture__text Understanding the clients’ needs and providing practical and expedient solutions through a partner-led service.
								.col-12.col-sm-6.col-md-4
									.culture
										h5.culture__title Commitment to our staff
										hr
										p.culture__text Providing a dedicated platform to support our lawyers and staff to realize their full potential through extensive training and development programs.
								.col-12.col-sm-6.col-md-4
									.culture
										h5.culture__title Commitment to our community
										hr
										p.culture__text We firmly believe that being a part of a community requires active contribution to its welfare, wellbeing and sustainability.
