extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "our community";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/about-us-5.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-our-community.html" }]}

block content
	main#about-our-community(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-10.offset-1.col-md-6.offset-md-5
							.inner-article__content
								p At Shalakany, we strongly believe that making a positive impact on our community and the world around us is a moral imperative and we are proud of our various initiatives over the years.
