extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug
include ./mixins/_award.pug

append variables
	- var page_title = "awards";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/4.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-awards.html" }]}

block content
	main#about-awards(role="main")
		+inner-header(header_data)
		section.awards.section.section__bg--white
			.container
				.row.py-5
					.col-12
						h5.section__title.section__title--primary.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s") international rankings
					.col-12
						.row
							each award, index in awards.filter(function(award) { return award.type === "international"})
								.col-12.col-sm-6.col-lg-3.mb-4
									+award(award, index)

		section.awards.section.section__bg--white#awards-filter
			.container
				.row.py-5
					.col-12
						h5.section__title.section__title--primary awards
					.col-12
						.awards__nav
							ul.nav.nav-tabs#awards-tabs(role="tablist")
								li.nav-item(role="presentation")
									button.nav-link.active(type="button", data-filter=".mix-all") All awards
								each year, index in awards.map(function(award) { return award.year }).filter(function(value, index, self) { return self.indexOf(value) === index })
									li.nav-item.wow.fadeInRight(role="presentation", data-wow-duration="1s", data-wow-delay=`${(index + 1) * 0.2}s`)
										button.nav-link(type="button", data-filter=`.mix-${year}`)=year
					.col-12
						.row
							each award, index in awards.filter(function(award) { return award.type === "normal"})
								div(class=` col-12 col-sm-6 col-lg-3 mb-4 mix-all mix-${award.year}`)
									+award(award, index)
