extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "affiliation & networks";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/about-us-3.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-affiliation-and-networks.html" }]}

block content
	main#about-affiliation-and-networks(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-10.offset-1.col-md-6.offset-md-5
							.inner-article__content
								p Shalakany is proud to be the exclusive member firm in Egypt of the following networks:
