extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "our community";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/5.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-our-community.html" }]}

block content
	main#about-our-community(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content.wow.fadeIn(data-wow-duration="1s", data-wow-delay="2s")
								p At Shalakany, we strongly believe that making a positive impact on our community and the world around us is a moral imperative and we are proud of our various initiatives over the years.
		section.section.section__bg--white.our-community
			.container
				.row.px-0.px-lg-4
					.col-12.col-md-10.col-lg-8.col-xl-6.my-4.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0")
						.row
							.col-12
								.brochure.brochure__bg--gray-400(data-paroller-direction="horizontal", data-paroller-factor="-0.03", data-paroller-type="foreground")
									.brochure__content
										h5.brochure__title.wow.fadeInUp(data-wow-duration="1s") Pro bono legal assistance
										p.brochure__text.wow.fadeInUp(data-wow-duration="1s") The Firm has adopted several human rights and women’s rights cases on a pro bono basis with the aim of creating significant precedents or changing discriminatory provisions of certain laws.
							.col-8.offset-2.justify-content-center
								.brochure__image.brochure__image--bottom(data-paroller-direction="vertical", data-paroller-factor="0.05", data-paroller-type="foreground")
									img(src="./images/timeline/3.jpg", alt="Pro bono legal assistance")
					.col-12.col-md-10.offset-md-2.col-lg-8.offset-lg-4.col-xl-6.offset-xl-0.my-4.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
						.row
							.col-8.offset-2.d-flex.justify-content-center
								.brochure__image.brochure__image--top(data-paroller-direction="vertical", data-paroller-factor="-0.05", data-paroller-type="foreground")
									img(src="./images/timeline/6.jpg", alt="NGOs")
							.col-12
								.brochure.brochure__bg--gray-400(data-paroller-direction="horizontal", data-paroller-factor="0.03", data-paroller-type="foreground")
									.brochure__content
										h5.brochure__title.wow.fadeInUp(data-wow-duration="1s") NGOs
										p.brochure__text.wow.fadeInUp(data-wow-duration="1s") The Firm has established a large number of leading non-governmental organizations and foundations, and provides access to critically needed legal assistance to a number of organizations, including: the Citadel Capital Scholarship Foundation, Ashoka Egypt, Endeavour Egypt, Education for Employment Foundation, Mohamed Hassanein Heikal Foundation for Arab Press, Habitat for Humanity International, Development of Technological Education Foundation and the Egyptian Education Foundation.
					.col-12.my-4.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
						.row.align-items-center
							.col-10.col-sm-8.col-lg-6
								.brochure.brochure__bg--gray-400(data-paroller-direction="horizontal", data-paroller-factor="-0.03", data-paroller-type="foreground")
									.brochure__content
										h5.brochure__title.wow.fadeInUp(data-wow-duration="1s") Charity
										p.brochure__text.wow.fadeInUp(data-wow-duration="1s") The Firm encourages its members to contribute to the community as a whole, we contribute not only financial and other material resources, but also in volunteering time, skills, experience and effort. we contribute not only financial and other material resources, but also in volunteering time, skills, experience and effort.
							.col-8.offset-4.col-sm-6.offset-sm-6.col-lg-4.offset-lg-0.d-flex.align-items-center
								.brochure__image.brochure__image--right(data-paroller-direction="horizontal", data-paroller-factor="0.03", data-paroller-type="foreground")
									img(src="./images/timeline/5.jpg", alt="Charity")
