extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "client access";
	- var header_data = {title: page_title, img: { src: "./images/hands.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "client-access.html" }]};

block content
	main#client-access(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content.wow.fadeIn(data-wow-duration="1s", data-wow-delay="2.2s")
								.inner-article__document
									h5 Advanced Delivery & Solutions
									p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		section.section.firms-culture
			.section__bg--img-container.section__fade.section__fade--black-02(data-paroller-direction="vertical", data-paroller-factor="-0.1", data-paroller-type="foreground")
				img.section__bg--img(src="./images/timeline/2.jpg")
			.container
				.row
					.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4.mb-10.mb-md-3
						h5.firms-culture__title.wow.fadeInUp(data-wow-duration="1s") solution
					.col-12
						.firms-culture__content
							.row
								.col-12.col-md-6.col-lg-4.mb-5.mb-lg-5
									.culture
										h5.culture__title.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s") Lorem ipsum dolor sit.
										hr
										p.culture__text.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
								.col-12.col-md-6.col-lg-4.mb-5.mb-lg-5
									.culture
										h5.culture__title.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s") Lorem ipsum dolor sit.
										hr
										p.culture__text.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.8s") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
								.col-12.col-md-6.col-lg-4.mb-5.mb-lg-5
									.culture
										h5.culture__title.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s") Lorem ipsum dolor sit.
										hr
										p.culture__text.wow.fadeIn(data-wow-duration="1s", data-wow-delay="1.2s") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
		section.section.section__bg--white.online-services
			.container
				.row
					.col-12.mb-4
						h4.section__title.wow.fadeInUp(data-wow-duration="1s") online services
					.col-12
						.row
							.col-12.col-md-6.mb-5
								.webinar.webinar__vertical.webinar__border.webinar__bg--gray-300.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
									.row
										.col-12
											.webinar__image
												img(src="./images/conferences/1.jpg", alt="Lorem ipsum dolor sit amet.")
										.col-12
											.webinar__content
												p.webinar__subtitle 20 may 2020
												h6.webinar__title
													a(href="webinars-single.html") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
												a.webinar__link(href="webinars-single.html") watch now
							.col-12.col-md-6.mb-5
								.webinar.webinar__vertical.webinar__border.webinar__bg--gray-300.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
									.row
										.col-12
											.webinar__image
												img(src="./images/conferences/2.jpg", alt="Lorem ipsum dolor sit amet.")
										.col-12
											.webinar__content
												p.webinar__subtitle 20 may 2020
												h6.webinar__title
													a(href="webinars-single.html") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
												a.webinar__link(href="webinars-single.html") watch now
