extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "client access";
	- var header_data = {title: page_title, img: { src: "./images/hands.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "client-access.html" }]};

block content
	main(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
