extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_page-header.pug

append variables
	- var page_title = "contact us";
	- var header_data = {title: page_title, img: { src: "./images/about-us/about-us-7.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "contact-us.html" }]};

block content
	main(role="main")
		+page-header(header_data)

		article.page-article
			section.section.section-bg__color--white
				.container-fluid
					.row
						.col-10.offset-1.col-md-6.offset-md-5
							.page-article__content
								p Whether you’re looking for more information, or you’d like to let us know your feedback, you’ll find easy ways to contact us right here.
