extends ./layouts/_index_layout.pug
include ./mixins/_service-card.pug

append variables
	- var page_title = "Home";

block content
	main#index(role="main")
		section.section#home-banner
			.section__bg--img-container.section__gradient-linear.section__gradient-linear--primary-0
				img.section__bg--img(src="./images/patterns/pattern.jpg")
			.container-fluid
				.row
					.col-12.col-md-6.col-xl-5
						#home-banner__side
							.container
								.row
									.col-12.col-sm-8.col-md-12
										#home-banner__slider
											.swiper-container#home-banner-slider(data-swiper-effect="fade")
												.swiper-wrapper
													.swiper-slide
														h1#home-banner__title(data-swiper-parallax="-300")
															strong With over a century
															br
															|  of experience
														p#home-banner__text(data-swiper-parallax="-200")
															| Since its establishment in 1912, Shalakany has achieved a record of success and growth that today makes it one of the leading corporate law firms in Egypt and the Middle East.
									.col-12
										a#home-banner__button.btn.btn-secondary(href="#") About the firm
									.col-12
										#home-banner__slider--arrows
											.swiper-button-prev.swiper-button-white(for="home-banner-slider")
											.swiper-button-next.swiper-button-white(for="home-banner-slider")
					.d-none.d-md-block.col-md-6.col-xl-7.pr-0
						.section#home-banner__img
							.section__bg--img-container
								img.section__bg--img(src="./images/faruk-kaymak-CNVvDjVDiVI-unsplash.jpg", alt="")
		section.section.section__bg--white#home-what-we-do
			.container-fluid
				.row
					.col-10.offset-2.col-md-10.offset-md-2.col-lg-12.offset-lg-0.px-0
						.brochure.brochure__bg--gray-400
							.row
								.col-11.col-md-9.col-lg-5
									.brochure__slider.brochure__slider--services.brochure__slider--left
										.swiper-container#home-whatWeDo-slider(data-swiper-effect="cube")
											.swiper-wrapper
												each service, i in services
													.swiper-slide
														+service-card(service, i)
										.brochure__slider-buttons.brochure__slider-buttons--white
											.swiper-button-prev(for="home-whatWeDo-slider")
											.swiper-button-next(for="home-whatWeDo-slider")
								.col-12.col-lg-7.offset-lg-0
									.brochure__content.text-left.align-items-start
										h2.brochure__title what we do
										p.brochure__text Shalakany is committed to delivering top quality legal services to our clients. As a full-service corporate law firm, we provide bespoke specialized legal services across a variety of different practice areas and sectors.
										a.brochure__link.align-self-end(href="#" ) know More
		section.section.clients
			.section__bg--img-container.section__gradient-linear.section__gradient-linear--primary-90-reverse
				img.section__bg--img(src="./images/patterns/pattern.jpg")
			.container-fluid
				.row
					.col-12
						.brochure
							.brochure__image
								img(src="./images/stairs.jpg")
							.container-fluid
								.row
									.col-12.col-md-10.col-xl-5
										.brochure__content.text-left.align-items-start
											h2.brochure__title our clients
											p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
											a.brochure__link(href="#") all clients
									.col-12.col-md-10.offset-md-2.col-xl-6.offset-xl-1
										.brochure__slider.brochure__slider--clients
											.swiper-container#clients-slider(data-swiper-effect="slide", data-swiper-slidesPerColumn="1")
												.swiper-wrapper
													.swiper-slide
														.logo
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/4.svg", alt="")
											.brochure__slider-buttons.brochure__slider-buttons--transparent
												.swiper-button-prev.swiper-button-white(for="clients-slider")
												.swiper-button-next.swiper-button-white(for="clients-slider")
		section.section.section__bg--white#home-latest-news
			.container-fluid
				.row
					.col-12
						.brochure.brochure__bg--brown.brochure__no-border
							.row
								.col-12
									.brochure__content.d-block
										.row
											.col-12.col-md-6
												h2.brochure__title.text-left latest news
											.col-12.col-md-6.d-flex.align-items-center.justify-content-md-end
												a.brochure__link.m-0.mt-md-0.mt-5(href="#") all news
								.col-12
									.brochure__content.pt-0
										.row
											.col-12.col-md-6.mb-md-0.mb-4
												.news.news__vertical.news__bg--transparent
													.row
														.col-12
															.news__image
																a(href="news-and-events-single.html")
																	img(src="./images/news/1.jpg", alt="Lorem ipsum dolor sit amet.")
														.col-12
															.news__content
																small.news__subtitle 20 may 2020
																h6.news__title
																	a(href="news-and-events-single.html") Lorem ipsum dolor sit amet.
																p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
																a.news__link(href="news-and-events-single.html") read more
											.col-12.col-md-6.mb-md-0.mb-4
												.news.news__vertical.news__bg--transparent
													.row
														.col-12
															.news__image
																a(href="news-and-events-single.html")
																	img(src="./images/news/2.jpg", alt="Lorem ipsum dolor sit amet.")
														.col-12
															.news__content
																small.news__subtitle 20 may 2020
																h6.news__title
																	a(href="news-and-events-single.html") Lorem ipsum dolor sit amet.
																p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
																a.news__link(href="news-and-events-single.html") read more
		include ./sections/_call_to_action.pug
