extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug
include ./mixins/_pagination.pug

append variables
	- var page_title = "news & events";
	- var header_data = {title: page_title, img: { src: "./images/books.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "news-and-events-listing.html" }]};

block content
	main#newsletter-listing(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container
					.row
						.col-10.offset-1.col-md-6.offset-md-5
							.inner-article__nav
								ul.nav.nav-tabs#news-and-events-nav(role="tablist")
									li.nav-item(role="presentation")
										a.nav-link(href="news-and-events-listing.html") shalakany news
									li.nav-item(role="presentation")
										a.nav-link.active(href="newsletter-listing.html") newsletter
			section.section.section__bg--white
				.container
					.row.px-4
						.col-12
							.inner-article__content
								.row
									.col-12.col-md-6.col-lg-5.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.offset-lg-1.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.offset-lg-1.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.offset-lg-1.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
									.col-12.col-md-6.col-lg-5.offset-lg-1.mb-5
										.news.news__vertical.news__bg--white.news__border--primary.news__border--lg
											.row
												.col-12
													.news__content
														small.news__subtitle 20 may 2020
														small.news__subtitle.text-primary By Omar Sherif and Youssef Aboushair
														h6.news__title
															a(href="newsletter-single.html") Lorem ipsum dolor sit amet.
														p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
														a.news__link(href="newsletter-single.html") read more
						.col-6.offset-6.col-sm-5.offset-sm-7.col-md-4.offset-md-8.col-lg-3.offset-lg-9.col-xl-2.offset-xl-10.my-4
							+pagination({})
