extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "Lorem ipsum dolor sit amet";
	- var header_data = {back: {title: "news & events", href: "news-and-events-listing.html"}, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "news & events", href: "news-and-events-listing.html" }, { title: page_title, href: "news-and-events-single.html" }]};

block content
	main#news-and-events-single(role="main")
		+inner-header(header_data)
		article.inner-article
			nav.inner-article__social
				ul.inner-article__list
					li.inner-article__list-item.inner-article__list-item--facebook.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="2.2s")
						a(href="http://www.facebook.com", target="_blank")
							| share
							i.fab.fa-facebook-f
					li.inner-article__list-item.inner-article__list-item--linkedin.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="2.4s")
						a(href="http://www.linkedin.com", target="_blank")
							| share
							i.fab.fa-linkedin-in
					li.inner-article__list-item.inner-article__list-item--twitter.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="2.6s")
						a(href="http://www.twitter.com", target="_blank")
							| share
							i.fab.fa-twitter
					li.inner-article__list-item.inner-article__list-item--whatsapp.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="2.8s")
						a(href="http://www.whatsapp.com", target="_blank")
							| share
							i.fab.fa-whatsapp
					li.inner-article__list-item.inner-article__list-item--email.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="3s")
						a(href="http://www.gmail.com", target="_blank")
							| share
							i.far.fa-envelope
			.container
				.row
					.col-12.col-lg-8
						section.section.section__bg--white.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.5s")
							.row
								.col-12
									.inner-article__content.px-0.px-lg-4.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0")
										.row
											.col-12.col-lg-10.col-xl-12
												.inner-article__img
													img(src="./images/news/6.jpg")
											.col-12
												small.inner-article__date 20 May 2020
												h5.inner-article__title Lorem ipsum dolor sit amet
												.inner-article__document
													p
														| Lorem ipsum dolor sit amet,
														a(href="#")
															|  consetetur sadipscing elitr
														|  , sed diam nonumy
														strong
															|  eirmod tempor inviduntut
														|  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
													ul
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
													p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
													h6 At vero eos et accusam et justo
													p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
													h6 Stet clita kasd gubergren, no sea takimata sanctus est
													p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
													p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
											.col-12
												nav.inner-article__share
													h6 share
													ul.inner-article__list
														li.inner-article__list-item.inner-article__list-item--facebook.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="0s")
															a(href="http://www.facebook.com", target="_blank", title="share on facebook", data-toggle="tooltip", data-placement='top')
																i.fab.fa-facebook-f
														li.inner-article__list-item.inner-article__list-item--linkedin.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="0.2s")
															a(href="http://www.linkedin.com", target="_blank", title="share on linkedin", data-toggle="tooltip", data-placement='top')
																i.fab.fa-linkedin-in
														li.inner-article__list-item.inner-article__list-item--twitter.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="0.4s")
															a(href="http://www.twitter.com", target="_blank", title="share on twitter", data-toggle="tooltip", data-placement='top')
																i.fab.fa-twitter
		section.section.section__bg--white.py-5
			.container
				.row
					.col-12.px-0.px-lg-4.mb-4
						h5.section__title.section__title--primary.text-center.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s") more news
					.col-12.px-0.px-lg-4
						.container
							.row
								.col-12.col-lg-5
									.news.news__vertical.news__bg--white.mb-4.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
										.row
											.col-12
												.news__image
													a(href="#")
														img(src="./images/news/1.jpg", alt="Lorem ipsum dolor sit amet.")
											.col-12
												.news__content
													small.news__subtitle 20 may 2020
													h6.news__title
														a(href="news-and-events-single.html") Lorem ipsum dolor sit amet.
													p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
													a.news__link(href="news-and-events-single.html") read more
								.col-12.col-lg-5.offset-lg-1
									.news.news__vertical.news__bg--white.mb-4.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
										.row
											.col-12
												.news__image
													a(href="#")
														img(src="./images/news/2.jpg", alt="Lorem ipsum dolor sit amet.")
											.col-12
												.news__content
													small.news__subtitle 20 may 2020
													h6.news__title
														a(href="news-and-events-single.html") Lorem ipsum dolor sit amet.
													p.news__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...
													a.news__link(href="news-and-events-single.html") read more
