extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug
include ./mixins/_pagination.pug
include ./mixins/_news-vertical.pug

append variables
	- var page_title = "news & events";
	- var header_data = {title: page_title, img: { src: "./images/books.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "news-and-events-listing.html" }]};

block content
	main#newsletter-listing(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container
					.row.px-4.px-lg-0
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__nav
								ul.nav.nav-tabs.nav-fill#news-and-events-nav(role="tablist")
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="2s")
										a.nav-link(href="news-and-events-listing.html") shalakany news
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="2.2s")
										a.nav-link.active(href="newsletter-listing.html") newsletter
			section.section.section__bg--white
				.container
					.row.px-4
						.col-12
							.inner-article__content.inner-article__content--not-found.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="2.2s")
								h6 no content in the selected criteria
						.col-12.col-md-8.col-xl-5.mb-5
							.row
								.col-6
									select.inner-article__dropdown.custom-select.custom-select-lg.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="2s")
										option(value="", selected, disabled) -Choose Year-
										option(value="2020") 2020
										option(value="2019") 2019
										option(value="2018") 2018
								.col-6
									select.inner-article__dropdown.custom-select.custom-select-lg.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="2.2s")
										option(value="", selected, disabled) -Choose Month-
										option(value="Jan") Jan
										option(value="Feb") Feb
										option(value="Mar") Mar
										option(value="Apr") Apr
										option(value="May") May
										option(value="Jun") Jun
										option(value="Jul") Jul
										option(value="Aug") Aug
										option(value="Sep") Sep
										option(value="Act") Act
										option(value="Nuv") Nuv
										option(value="Dec") Dec
						.col-12
							.inner-article__content
								.row
									each article, index in news
										div(class=`col-12 col-md-6 col-xl-5 ${(index % 2 !== 0) ? "offset-xl-1" : ""}  mb-5`)
											+news-vertical(article, index)
						.col-8.offset-4.col-sm-7.offset-sm-5.col-md-5.offset-md-7.col-xl-3.offset-xl-9.my-4
							+pagination({})
