extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug
include ./mixins/_pagination.pug
include ./mixins/_news-horizontal.pug

append variables
	- var page_title = "news & events";
	- var header_data = {title: page_title, img: { src: "./images/books.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "news-and-events-listing.html" }]};

block content
	main#news-and-events-listing(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container
					.row.px-4.px-lg-0
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__nav
								ul.nav.nav-tabs.nav-fill#news-and-events-nav(role="tablist")
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="2s")
										a.nav-link.active(href="news-and-events-listing.html") shalakany news
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="2.2s")
										a.nav-link(href="newsletter-listing.html") newsletter
			section.section.section__bg--white
				.container
					.row.px-4
						.col-12
							.inner-article__content.inner-article__content--not-found.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="2.2s")
								h6 no content in the selected criteria
						.col-12
							.inner-article__content
								.row
									each article, index in news
										.col-12.col-md-6.col-lg-12.mb-5
											+news-horizontal(article, index)
						.col-8.offset-4.col-sm-7.offset-sm-5.col-md-5.offset-md-7.col-xl-3.offset-xl-9.my-4
							+pagination({})

