extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_page-header.pug

append variables
	- var page_title = "our people";
	- var header_data = {title: page_title, img: { src: "./images/books-shelf.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "our-people-listing.html" }]};

block content
	main(role="main")
		+page-header(header_data)

		article.page-article
			section.section.section-bg__color--white
				.container-fluid
					.row
						.col-12.col-md-6.offset-md-5
							.page-article__content
								p Our lawyers are leaders in their fields and are considered experts in their respective areas of specialization. Through a blend of experience and expertise, our lawyers provide top quality legal services to our clients.
