extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug
include ./mixins/_service-card.pug

append variables
	- var page_title = "services & clients";
	- var header_data = {title: page_title, img: { src: "./images/books-shelf.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "services-and-clients.html" }]};

block content
	main#services-and-clients(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-sm-10.offset-sm-1.col-md-6.offset-md-5
							.inner-article__content.wow.fadeIn(data-wow-duration="1s", data-wow-delay="2s")
								p Our lawyers are leaders in their fields and are considered experts in their respective areas of specialization. Through a blend of experience and expertise, our lawyers provide top quality legal services to our clients.
			section.section.section__bg--white.services-detailed
				.container
					.row
						.col-12.col-sm-6.col-md-5.d-block.d-lg-none.mb-5.px-4.px-md-0.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
							select.inner-article__nav-dropdown.custom-select.custom-select-lg
								option(value=`service-corporate`) corporate and mergers & acquisitions
								option(value=`service-finance-projects`) finance & projects
								option(value=`service-arbitration-litigation`) arbitration & litigation
								option(value=`service-commercial`) commercial
						.col-12.col-lg-4.col-xl-4.d-none.d-lg-block
							.inner-article__nav
								ul.nav.flex-column.nav-pills#service-tab(role="tablist" aria-orientation="vertical")
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="0.2s")
										a.nav-link.active#service-corporate-tab(data-toggle="pill" href="#service-corporate" role="tab" aria-controls="service-corporate" aria-selected="true") corporate and mergers & acquisitions
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="0.4s")
										a.nav-link#service-finance-projects-tab(data-toggle="pill" href="#service-finance-projects" role="tab" aria-controls="service-finance-projects" aria-selected="false") finance & projects
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="0.6s")
										a.nav-link#service-arbitration-litigation-tab(data-toggle="pill" href="#service-arbitration-litigation" role="tab" aria-controls="service-arbitration-litigation" aria-selected="false") arbitration & litigation
									li.nav-item.wow.fadeInUp(role="presentation", data-wow-duration="1s", data-wow-delay="0.8s")
										a.nav-link#service-commercial-tab(data-toggle="pill" href="#service-commercial" role="tab" aria-controls="service-commercial" aria-selected="false") commercial
						.col-12.col-lg-7.offset-lg-1.col-xl-7.offset-xl-1.px-4.px-md-0
							.inner-article__tabs
								.tab-content#service-content
									.tab-pane.animated.fadeInUp.show.active#service-corporate(role="tabpanel" aria-labelledby="service-corporate-tab")
										.inner-article__content
											.service-card.inner-article__img
												.service-card__image
													img(src="./images/services/1.jpg", alt="")
												h6.service-card__title corporate and mergers & acquisitions
											.row
												.col-12.col-md-11
													.inner-article__document
														p
															| Lorem ipsum dolor sit amet,
															a(href="#")
																|  consetetur sadipscing elitr
															|  , sed diam nonumy
															strong
																|  eirmod tempor inviduntut
															|  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														ul
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li
																| Lorem ipsum dolor sit amet.
																ul
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 At vero eos et accusam et justo
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 Stet clita kasd gubergren, no sea takimata sanctus est
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

									.tab-pane.animated.fadeInUp#service-finance-projects(role="tabpanel" aria-labelledby="service-finance-projects-tab")
										.inner-article__content
											.service-card.inner-article__img
												.service-card__image
													img(src="./images/services/2.jpg", alt="")
												h6.service-card__title  finance & projects
											.row
												.col-12.col-md-11
													.inner-article__document
														p
															| Lorem ipsum dolor sit amet,
															a(href="#")
																|  consetetur sadipscing elitr
															|  , sed diam nonumy
															strong
																|  eirmod tempor inviduntut
															|  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														ul
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li
																| Lorem ipsum dolor sit amet.
																ul
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 At vero eos et accusam et justo
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 Stet clita kasd gubergren, no sea takimata sanctus est
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

									.tab-pane.animated.fadeInUp#service-arbitration-litigation(role="tabpanel" aria-labelledby="service-arbitration-litigation-tab")
										.inner-article__content
											.service-card.inner-article__img
												.service-card__image
													img(src="./images/services/3.jpg", alt="")
												h6.service-card__title  arbitration & litigation
											.row
												.col-12.col-md-11
													.inner-article__document
														p
															| Lorem ipsum dolor sit amet,
															a(href="#")
																|  consetetur sadipscing elitr
															|  , sed diam nonumy
															strong
																|  eirmod tempor inviduntut
															|  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														ul
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li
																| Lorem ipsum dolor sit amet.
																ul
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 At vero eos et accusam et justo
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 Stet clita kasd gubergren, no sea takimata sanctus est
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

									.tab-pane.animated.fadeInUp#service-commercial(role="tabpanel" aria-labelledby="service-commercial-tab")
										.inner-article__content
											.service-card.inner-article__img
												.service-card__image
													img(src="./images/services/4.jpg", alt="")
												h6.service-card__title commercial
											.row
												.col-12.col-md-11
													.inner-article__document
														p
															| Lorem ipsum dolor sit amet,
															a(href="#")
																|  consetetur sadipscing elitr
															|  , sed diam nonumy
															strong
																|  eirmod tempor inviduntut
															|  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														ul
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li Lorem ipsum dolor sit amet.
															li
																| Lorem ipsum dolor sit amet.
																ul
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
																	li Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 At vero eos et accusam et justo
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														h6 Stet clita kasd gubergren, no sea takimata sanctus est
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
														p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyaconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

		section.section.clients
			.section__bg--img-container.section__gradient-linear.section__gradient-linear--primary-90-reverse
				img.section__bg--img(src="./images/patterns/pattern.jpg")
			.container-fluid
				.row
					.col-12
						.brochure
							.container-fluid
								.row
									.col-12.col-md-10.col-xl-5.d-flex.align-items-center
										.brochure__content.text-left
											h2.brochure__title.wow.fadeInLeft(data-wow-duration="1.2s", data-wow-delay="0.2s") our clients
											p.brochure__text.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="0.6s") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
									.col-12.col-md-10.offset-md-2.col-xl-6.offset-xl-1
										.brochure__slider.brochure__slider--clients
											.swiper-container#clients-slider(data-swiper-effect="slide", data-swiper-slidesPerColumn="2")
												.swiper-wrapper
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.1s")
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.3s")
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.5s")
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.7s")
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.8s")
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.9s")
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.0s")
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.1s")
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.2s")
															img(src="./images/clients/4.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.3s")
															img(src="./images/clients/1.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.4s")
															img(src="./images/clients/2.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.5s")
															img(src="./images/clients/3.svg", alt="")
													.swiper-slide
														.logo.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="1.6s")
															img(src="./images/clients/4.svg", alt="")
											.brochure__slider-buttons.brochure__slider-buttons--transparent
												.swiper-button-prev.swiper-button-white.wow.fadeInRight(for="clients-slider", data-wow-duration="1s", data-wow-delay="2s")
												.swiper-button-next.swiper-button-white.wow.fadeInLeft(for="clients-slider", data-wow-duration="1s", data-wow-delay="2s")
		include ./sections/_call_to_action.pug
