extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "services & clients";
	- var header_data = {title: page_title, img: { src: "./images/books-shelf.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: page_title, href: "services-and-clients.html" }]};

block content
	main#services-and-clients(role="main")
		+inner-header(header_data)
		article.inner-article
			section.section.section__bg--white
				.container-fluid
					.row
						.col-12.col-md-6.offset-md-5
							.inner-article__content
								p Our lawyers are leaders in their fields and are considered experts in their respective areas of specialization. Through a blend of experience and expertise, our lawyers provide top quality legal services to our clients.
		section.section.clients
			.section__bg--img-container.section__gradient-linear.section__gradient-linear--primary-90-reverse
				img.section__bg--img(src="./images/patterns/pattern.jpg")
			.container-fluid
				.row
					.col-12
						.brochure
							.container-fluid
								.row
									.col-12.col-md-10.col-xl-5.d-flex.align-items-center
										.brochure__content.text-left
											h2.brochure__title our clients
											p.brochure__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
									.col-12.col-md-10.offset-md-2.col-xl-6.offset-xl-1
										.brochure__slider.brochure__slider--clients
											.swiper-container#clients-slider(data-swiper-effect="slide", data-swiper-slidesPerColumn="2")
												.swiper-wrapper
													.swiper-slide
														.logo
															img(src="./images/clients/client_1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_4.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_1.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_2.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_3.svg", alt="")
													.swiper-slide
														.logo
															img(src="./images/clients/client_4.svg", alt="")
											.brochure__slider-buttons.brochure__slider-buttons--transparent
												.swiper-button-prev.swiper-button-white(for="clients-slider")
												.swiper-button-next.swiper-button-white(for="clients-slider")
		include ./sections/_call_to_action.pug
