$news-padding-gap: 6px;

.news {
	display: flex;
	position: relative;
	text-align: left;
	transition: $transition-base;
	background-color: transparent;
	margin-top: #{$news-padding-gap * 2};

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -#{$news-padding-gap * 2};
		left: 0;
		width: 100%;
		height: #{$border-width * 2};
		background-color: $white;
		transition: $transition-base;
	}

	&__border {
		&--lg {
			&::after {
				height: #{$border-width * 8} !important;
			}
		}
		&--md {
			&::after {
				height: #{$border-width * 4} !important;
			}
		}
		&--sm {
			&::after {
				height: #{$border-width * 2} !important;
			}
		}
	}

	&__image {
		&,
		& > a {
			width: 100%;
			height: 100%;
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, center);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: #{$news-padding-gap * 4} 0;
		height: 100%;
	}

	&__subtitle {
		& + .news__title {
			margin-top: 1rem;
		}

		&,
		& > a {
			color: $white;
			font-weight: $font-weight-light;
			text-transform: capitalize;
		}
	}

	&__title {
		&,
		& > a {
			color: $white;
			font-weight: $font-weight-bolder;
		}

		&:not(:last-child) {
			margin-bottom: #{$spacer * 0.35};
		}

		&::first-letter {
			text-transform: capitalize;
		}
	}

	&__text {
		font-size: $font-size-base;
		font-weight: $font-weight-light;
		color: $white;
		line-height: $line-height-lg;

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}

		@include media-breakpoint-down(md) {
			line-height: $line-height-base;
		}
	}

	&__link {
		color: $white;
		font-weight: $font-weight-bolder;
		text-transform: uppercase;
		font-size: $font-size-base;
		transition: $transition-base;
		position: relative;
		display: inline-block;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: $spacer * 0.35;
		}

		&:last-child {
			margin-top: auto;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: $border-width;
			background-color: $white;
			display: block;
			width: 35%;
			transition: $transition-base;
		}

		&:hover,
		&:focus,
		&:active {
			color: $white;

			&:after {
				width: 100%;
			}
		}
	}

	&__vertical {
		.news__image {
			max-height: 350px;
			min-height: 350px;

			@include media-breakpoint-down(md) {
				max-height: 250px;
				min-height: 250px;
			}
		}
	}

	&__horizontal {
		.news__image {
			max-height: 15.625rem;
		}
		.news__text {
			line-height: $line-height-base;
		}
	}
}

//colors
@each $color, $value in $theme-colors {
	.news__border--#{$color} {
		&:after {
			background-color: $value !important;
		}
	}
	.news__bg--#{$color} {
		@if $value == transparent {
			background-color: transparent;
		} @else {
			background-color: $value;
		}

		&:after {
			@if $value == transparent {
				background-color: color-yiq($value, $white, $white);
			} @else {
				background-color: color-yiq($value, $border-color, $primary);
			}
		}

		.news__subtitle {
			&,
			& > a {
				@if $value == transparent {
					color: color-yiq($value, $white, $white);
				} @else {
					color: color-yiq($value, $black, $white);
				}
			}
		}

		.news__title {
			&,
			& > a {
				@if $value == transparent {
					color: color-yiq($value, $white, $white);
				} @else {
					color: color-yiq($value, $primary, $white);
				}
			}
		}

		.news__text {
			@if $value == transparent {
				color: color-yiq($value, $white, $white);
			} @else {
				color: color-yiq($value, $black, $white);
			}
		}

		.news__link {
			@if $value == transparent {
				color: color-yiq($value, $white, $white);
			} @else {
				color: color-yiq($value, $primary, $white);
			}

			&:after {
				@if $value == transparent {
					background-color: color-yiq($value, $white, $white);
				} @else {
					background-color: color-yiq($value, $primary, $white);
				}
			}

			&:hover,
			&:focus,
			&:active {
				@if $value == transparent {
					color: color-yiq($value, $white, $white);
				} @else {
					color: color-yiq($value, $primary, $white);
				}
			}
		}
	}
}
