include ../mixins/_header.pug

doctype html
html(lang=`${locals.lang}` dir=`${(locals.lang === "en") ? "ltr" : "rtl"}`)
	include ../partials/_head.pug
	body
		#app
			block variables
				- var menu = {is_open: false, menu_list: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: "services & clients", href: "services-and-clients.html" }, { title: "our people", href: "our-people-listing.html" }, { title: "contact us", href: "contact-us.html" }, { title: "news & events", href: "news-and-events-listing.html" }, { title: "conferences & webinars", href: "conferences-and-webinars-listing.html" }, { title: "client portal", href: "client-portal.html" }, { title: "careers & trainings", href: "careers-and-trainings.html" }]};
				- var services = [{ href: "#", title: "arbitration & litigation", img: { src: "./images/Services/service-1.jpg", alt:"arbitration & litigation" }}, { href: "#", title: "Values & Culture", img: { src: "./images/Services/service-2.jpg", alt:"arbitration & litigation" }}, { href: "#", title: "Affiliation & networks", img: { src: "./images/Services/service-3.jpg", alt:"arbitration & litigation" }}, { href: "#", title: "Awards", img: { src: "./images/Services/service-4.jpg", alt:"arbitration & litigation" }}];
				- var about_us = [{ href: "about-our-history.html", title: "Our History", img: { src: "./images/about-us/about-us-1.jpg", alt:"Our History" }}, { href: "about-values-and-culture.html", title: "Values & Culture", img: { src: "./images/about-us/about-us-2.jpg", alt:"Values & Culture" }}, { href: "about-affiliation-and-networks.html", title: "Affiliation & networks", img: { src: "./images/about-us/about-us-3.jpg", alt:"Affiliation & networks" }}, { href: "about-awards.html", title: "Awards", img: { src: "./images/about-us/about-us-4.jpg", alt:"Awards" }}, { href: "about-our-community.html", title: "Our community", img: { src: "./images/about-us/about-us-5.jpg", alt:"Our community" }}, { href: "about-art-gallery.html", title: "Art gallery", img: { src: "./images/about-us/about-us-6.jpg", alt:"Art gallery" }}, { href: "contact-us.html", title: "Offices", img: { src: "./images/about-us/about-us-7.jpg", alt:"Offices" }}];
			include ../sections/_preloader.pug
			+header(menu)
			block content
			include ../sections/_footer.pug
			include ../partials/_foot.pug
